---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import FeaturedProjects from "../components/ProjectCard.astro";
import OtherProjects from "../components/OtrosProyectos.astro";
import Experience from "../components/Experience.astro";
import TechStack from "../components/TechStack.astro";
import ContactCard from "../components/ContactCard.astro";

import { featuredProjects } from "../data/projects";
import { otherProjects } from "../data/otherprojects";
import { experience } from "../data/experience";
import { tech } from "../data/tech";
import Estudios from "../components/Estudios.astro";
---

<Layout>
  <Hero />

  <main class="container">
    <Experience items={experience} />
    
    <FeaturedProjects items={featuredProjects} />
    <OtherProjects items={otherProjects} />
    <Estudios/>

    <section id="stack" class="section">
      <TechStack items={tech} />
    </section>

    <section class="section">
      <ContactCard />
    </section>
  </main>
</Layout>