---
import ExperienceItem from "./ExperienceItem.astro"

import { getI18N } from "@/i18n"

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})

const EXPERIENCE = [
  {
    date: "2021 - " + i18n.PRESENT,
    title: i18n.EXPERIENCE_TITLE_1,
    company: "CITM",
    description: i18n.EXPERIENCE_DESCRIPTION_1,
    link: "https://www.citm.upc.edu/esp/estudis/grau-videojocs-terrassa/",
  },
  {
    date: "2015 - 2021",
    title: i18n.EXPERIENCE_TITLE_2,
    company: "IES Palau Ausit",
    description: i18n.EXPERIENCE_DESCRIPTION_2,
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
