---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Sep 2024 - Jul 2025 (Prácticas)",
    title: "Game Developer",
    company: "NeurekaLAB",
    description:
      "Trabajé en la aplicación SpaceLetters y SpaceNumbers además de la transición de esta al modelo de familias, desarrollada con Unity para dispositivos móviles. Mi rol principal fue el de programador, desarrollando nuevas actividades, funcionalidades, y realizando mejoras en la estructura general del código.",
    link: "https://neurekalab.es/lang/es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
