---
interface Props {
  href: string
  target?: string
}

const { href, target } = Astro.props
---

<a
  href={href}
  target={target}
  rel={target === "_blank" ? "noopener noreferrer" : undefined}
  class="inline-flex items-center gap-1 text-yellow-400 hover:underline"
>
  <slot />
</a>