---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import Cpp from "./icons/Cpp.astro";
import Unity from "./icons/Unity.astro";
import Csharp from "./icons/Csharp.astro";
import Flutter from "./icons/Flutter.astro";
import Dart from "./icons/Dart.astro";
import Maya from "./icons/Maya.astro";

const TAGS = {
    CPP: {
        name: "C++",
        class: "bg-[#003159] text-white",
        icon: Cpp,
    },
    UNITY: {
        name: "Unity",
        class: "bg-[#003159] text-white",
        icon: Unity,
    },
    CSHARP: {
        name: "C#",
        class: "bg-[#003159] text-white",
        icon: Csharp,
    },
    FLUTTER: {
        name: "FLUTTER",
        class: "bg-[#003159] text-white",
        icon: Flutter,
    },
    DART: {
        name: "Dart",
        class: "bg-[#003159] text-white",
        icon: Dart,
    },
    MAYA: {
        name: "Maya",
        class: "bg-[#003159] text-white",
        icon: Maya,
    },
};

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const PROJECTS = [
    {
        title: i18n.OTHER_PROJECT_1_TITLE,
        github: "https://github.com/ericlr1/7a-Gran-CITM-Game-Jam",
        description: i18n.OTHER_PROJECT_1_DESCRIPTION,
        image: "/projects/nightmaresofthenight.webp",
        icon: GitHub,
    },
    {
        title: i18n.OTHER_PROJECT_2_TITLE,
        github: "https://github.com/francesctr4/Nexus-Studios",
        description: i18n.OTHER_PROJECT_2_DESCRIPTION,
        image: "/projects/DOTLogo.webp",
        icon: GitHub,
    },
    {
        title: i18n.OTHER_PROJECT_3_TITLE,
        github: "https://github.com/Toto-RR/AI-FiniteStatesMachine",
        description: i18n.OTHER_PROJECT_3_DESCRIPTION,
        image: "/projects/IA.webp",
        icon: GitHub,
    },
    {
        title: i18n.OTHER_PROJECT_4_TITLE,
        github: "https://clapcom-studios.github.io/Website/aboutus.html",
        description: i18n.OTHER_PROJECT_4_DESCRIPTION,
        image: "/projects/AboutUs.webp",
        icon: Link,
    },
];
---

<div class="project-grid">
    {
        PROJECTS.map(({ image, title, description, github, icon: Icon }) => (
            <div class="project-card dark:bg-gray-900">
                <img
                    alt="Imagen del proyecto"
                    class="project-image"
                    loading="lazy"
                    src={image}
                />
                <div class="project-title">
                    <h3 class="text-sm font-bold text-gray-800 dark:text-gray-100">
                        {title}
                    </h3>
                    {github && (
                        <a href={github} target="_blank" class="icon-link">
                            <Icon class="size-4" /> {/* Renderiza el icono aquí */}
                        </a>
                    )}
                </div>
                <div class="project-description text-xs text-gray-600 dark:text-gray-300 mb-2">
                    {description}
                </div>
            </div>
        ))
    }
</div>

<style>
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        align-items:;
        gap: 16px;
    }

    .project-image {
        height: 200px;
        object-fit: fill;
        width: 100%;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition:
            transform 0.3s,
            box-shadow 0.3s;
        justify-content: space-between;
    }

    .project-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    .project-title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 8px;
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .icon-link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
        border-radius: 50%;
        padding: 4px;
        transition: background-color 0.3s;
    }

    .icon-link:hover {
        background-color: #e0e0e0;
    }

    .project-card .project-description {
        color: currentColor;
        padding: 15px;
    }
</style>
